.pge {
    position: fixed;
    bottom: 20px;
    right: 100px;
    background: transparent;
    z-index: 1001;
}

.play {
    background-color: #1a1a1a;
    border: 3px solid #38ccff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.play i {
    color: white !important; 
    background: transparent;
    font-size: 1.5rem;
    display: inline-block;
    z-index: 10000;
}